.answers-list {
    display: flex;
    flex-flow: wrap;
    margin-top: 15px;
}

.w10percent {
    width: 10%;
}

.sm-questions {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sm-questions > * {
    margin-bottom: 5px;
}

.sm-admin-q-row {
    display: flex;
}

.answer-item {
    padding: 0 !important;
}

.answer-card {
    margin: 6px 12px !important;
}

.sm-fresh-question > * {
    width: 25%;
    width: calc(25% - 24px);
    margin: 12px;
    margin: 6px 12px;
}

.text-field-answer {
    width: calc(100% - 70px);
}

@media only screen and (max-width: 1300px) {
    .sm-fresh-question > * {
        width: 33%;
        width: calc(33% - 24px);
        margin: 12px;
        margin: 6px 12px;
    }
}

@media only screen and (max-width: 900px) {
    .sm-fresh-question > * {
        width: 100%;
        width: calc(100% - 24px);
        margin: 12px;
        margin: 6px 12px;
    }
}



