.AppContainer {

}

.AppNavbar {
	height: 60px;
	box-shadow: 17px 15px 26px 0 rgba(5,5,5,0.22);
}

.AppContainer .navbar-brand {
	font-weight: bold;
}

.AppContainer nav {
	margin-bottom: 0;
}

.sm-navbar {
	height: 7%;
	min-height: 50px;
}

.sm-content {
	height: 90%;
	display: flex;
}

.sm-sidebar {
	width: 15%;
	height: 95vh;
	min-width: 180px;
	background-color: #1769aa;
}

.sm-dashboard {
	width: max-content;
	min-width: 1000px;
	padding: 25px;
}

.sm-dashboard>div {
	overflow-y: auto;
	width: auto;
}

.sm-sidebar, .sm-dashboard {
	padding-top: 15px;
}

#search-field {
	margin-bottom: 20px;
}
#search-field .MuiFormControl-root{
	width: 300px;
}

.sm-row {
	display: flex;
}

.sm-left-panel {
	z-index: 1;
	left: 0;
	overflow-x: hidden;
	height: 100%;
}

.sm-left-panel a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
}

.sm-left-panel a:hover {
	color: #33eaff;
}

.sm-left-panel > * {
	margin: 10px 0 10px 0;
}

.MuiPaper-root.MuiCard-root.card-root.MuiPaper-elevation1.MuiPaper-rounded {
	max-width: 100%;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6 {
	display: none;
}

.MuiChip-outlinedPrimary {
	color: white !important;
	border: 1px solid white !important;
}

.notification-icon-wrapper>button {
	color: white !important;
}

.top-grid {
	display: contents !important;
}

#primary-search-account-menu > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
	top: 54px !important;
}

.MuiChip-root .MuiChip-avatarColorPrimary {
	background-color: greenyellow !important;
	color: black !important;
}

/*#sm-notifications > div.MuiPaper-root.MuiMenu-paper.Component-paper-1.MuiPopover-paper.MuiPaper-elevation0.MuiPaper-rounded > ul > li {*/
/*	background-color: #4caf50;*/
/*}*/