.sm-admin-accounts-cards {
    display: flex;
    flex-wrap: wrap;
}

.admin-card {
    width: calc(25% - 24px);
    margin: 6px 12px;
}

@media only screen and (max-width: 1300px) {
    .admin-card {
        width: calc(33% - 24px);
        margin: 6px 12px;
    }
}

@media only screen and (max-width: 900px) {

    .admin-card {
        width: calc(50% - 24px);
        margin: 6px 12px;
    }
}

@media only screen and (max-width: 600px) {

    .admin-card {
        width: calc(100% - 24px);
        margin: 6px 12px;
    }
}
