.MuiAppBar-colorPrimary {
    background-color: white;
}

.row div {
    float: right;
}

.sm-navbar-toolbar-left {
    float: left;
}

.sm-navbar-navbar {
    margin-top: 10px;
}

.sm-navbar-toolbar-right {
    float: right;
}

.userChip {
    font-size: 15px !important;
}

.sm-nav-bar .MuiToolbar-regular {
    box-shadow: 0 15px 11px -11px rgba(0,0,0,0.75);
}