/*.sm-admin-questionnaires-top-panel {

}

.w30percent {
    width: 20%;
}

.w31percent {
    width: 31%;
}

.w40percent {
    width: 40%;
}

.w15percent {
    width: 15%;
}

.w60percent {
    width: 60%;
    margin: 0 30px 0 30px !important;
}

.w70percent {
    width: 65%;
    display: flex;
}

.w70percent .MuiChip-clickable {
    margin: 0 5px 5px 5px !important;
}

.sm-admin-q-row .w70percent {
    display: flow-root;
}

.w80percent {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}*/
/*

.w80percent .MuiChip-clickable {
    margin: 0 5px 5px 5px !important;
}
*/

.answers-list {
    display: flex;
    flex-flow: wrap;
    margin-top: 15px;
}

.w10percent {
    width: 10%;
}

.w8percent {
    width: 8%;
}

.sm-questions {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sm-questions > * {
    margin-bottom: 5px;
}

.sm-admin-q-row {
    display: block;
}

.sm-fresh-question > * {
    margin: 0 10px;
}


/*.sm-admin-q-row .form-item{
    width: 100%;
    margin-bottom: 12px;
}*/
/*
.sm-admin-q-row .form-item .title{
    width: 40%;
    padding: 0 5px;
    box-sizing: border-box;
}

.sm-admin-q-row .form-item .description{
    width: 40%;
    padding: 0 5px;
    box-sizing: border-box;
}

.sm-admin-q-row .form-item .priority{
    width: 20%;
    padding: 0 5px;
    box-sizing: border-box;
}*/
@media only screen and (max-width: 900px) {
    .sm-fresh-question {
        display: block;
    }

    .sm-admin-q-row {
        display: block !important;
    }

    .sm-admin-q-row .form-item {
        width: 100%;
        margin: 6px 0;
    }

    .sm-fresh-question > * {
        margin: 0px 0px !important;
    }

    .card-element {
        display: block !important;
    }

    .answers-list {
        display: block;
    }

    .add-question {
        width: 100%;
    }
}


