.sm-admin-questionnaires-top-panel {

}

.w30percent {
    width: 20%;
}

.w31percent {
    width: 31%;
}

.w40percent {
    width: 40%;
}

.w15percent {
    width: 15%;
}

.w60percent {
    width: 60%;
    margin: 0 30px 0 30px !important;
}

.w70percent {
    width: 65%;
    display: flex;
}

.w70percent .MuiChip-clickable {
    margin: 0 5px 5px 5px !important;
}

.sm-admin-q-row .w70percent {
    display: flow-root;
}

.w80percent {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.w80percent .MuiChip-clickable {
    margin: 0 5px 5px 5px !important;
}

.answers-list {
    display: flex;
    flex-flow: wrap;
    margin-top: 15px;
}

.w10percent {
    width: 10%;
}
.w8percent {
    width: 8%;
}

.sm-questions {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sm-questions > * {
    margin-bottom: 5px;
}

.sm-admin-q-row {
    display: flex;
}

.sm-fresh-question > * {
    margin: 0 10px !important;
}

.sm-admin-q-row .w31percent > * {
    margin-right: 5px;
}

.sm-admin-q-row .w80percent .MuiChip-root {
    margin: 0 5px 5px 0;
}

.sm-admin-q-row .w80percent {
    display: flow-root;
}