
.sm-questions {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sm-questions > * {
    margin-bottom: 5px;
}

.sm-admin-q-row {
    display: flex;
}

.sm-fresh-question > * {
    margin: 0 10px;
}

.sm-admin-q-row .form-item {
    width: 100%;
    margin: 12px;
}
.sm-fresh-question{
    display: flex;
}

.sm-fresh-question .form-item {
    width: 100%;
    margin: 12px;
}

.action-buttons{
    width: 50%;
    display: flex;
}
.action-buttons .action-button-add{
    margin: 0 3px;
}

.action-buttons .action-button-delete{
    margin: 0 3px;
}

.tags-list {
    width: 50%;
}
.answer-list .sm-fresh-question > *{
    background: #33eaff;
    margin-bottom: 6px;
}

@media only screen and (max-width: 900px) {
    .sm-fresh-question{
        display: block;
    }
    .sm-admin-q-row .form-item{
        margin: 6px 0;
    }
    .action-buttons{
        width: 100%;
        display: block;
    }
    .action-buttons .action-button-delete,
    .action-buttons .action-button-add{
        margin: 6px;
        width:calc(100% - 12px);
    }
    .tags-list {
        width: 100%;
        margin: 6px 0 ;
    }
}
