.sm-post-feed {
    margin: 1%;
    height: auto;
    width: auto;
    max-height: 85vh;
}

.sm-post-feed .card-root {
    width: auto;
}

.sm-post-feed > * {
    margin-bottom: 25px;
}

.sm-post-contact-info-button {
    margin: 10px 0;
    text-transform: capitalize;
}

.sm-post-contact-info-button .MuiCardHeader-root {
    padding: 3px;
}

.sm-post-contact-info-button .MuiTypography-displayBlock {
    display: flex;
    text-transform: capitalize;
}