::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #BBB;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.sm-experience {
    margin-top: 30px;
}

.sm-experience .sm-experience-panel {
    display: flex;
}

.sm-experience .sm-experience-left-panel {
    width: 30%;
    min-width: 300px;
    height: auto;
    padding: 10px;
}

.sm-experience .sm-experience-right-panel {
    width: 70%;
    margin: 0 15px;
}

.sm-experience .sm-experience-right-panel .card-root {
    max-width: 100%;
}

.sm-row {
    display: flow-root !important;
}


.search-without-counter{
    margin-bottom: 46px !important;
}

/*
iulica
.sm-line {
    display: flex !important;
}*/

.sm-left-align {
    float: left;
}

.sm-right-align {
    float: right;
}
.icon-search{
    width: auto;
}
.sm-questionnaire-statistics,
.sm-posts-statistics{
    margin: 10px;
}

/*iulica resize*/
@media only screen and (max-width: 900px) {
    .sm-experience .sm-experience-panel{
        display: block;
    }
    .sm-experience .sm-experience-left-panel{
        width: 100%;
    }
    .sm-experience .sm-experience-right-panel{
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}


