.sm-admin-experiences {
    margin-top: 30px;
}

.sm-admin-experiences .sm-admin-experiences-panel {
    display: flex;
}

.sm-admin-experiences .sm-admin-experiences-left-panel {
    width: 50%;
    overflow-y: scroll;
    height: calc(85vh - 150px);
    padding: 10px;
}

.sm-admin-experiences .sm-admin-experiences-right-panel {
    width: 50%;
    padding: 10px;
}

/*.sm-admin-experiences .sm-admin-experiences-right-panel .MuiCard-root {
    width: ;
}*/

.sm-admin-experiences .sm-admin-experiences-right-panel .MuiFormControl-root {
    width: 100%;
}

.sm-admin-experiences .sm-admin-experiences-right-panel .card-root {
    max-width: 100%;
}

@media only screen and (max-width: 900px) {
    .sm-admin-experiences .sm-admin-experiences-panel {
        display: block;
        overflow-y: hidden;
        height: calc(85vh - 150px);
    }

    .sm-admin-experiences .sm-admin-experiences-right-panel {
        width: 100%;
    }

    .sm-admin-experiences .sm-admin-experiences-left-panel {
        width: 100%;
        overflow-y: scroll;
        height: calc(85vh        - 300px);
        padding: 10px;
    }
}

