.root {
    width: 100%;
}

.inline {
    display: inline;
}

.scrollableList {

}

.scrollableList .MuiList-root {
    overflow-y: scroll;
    height: 100%;
}

.interactionable {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    display: flex;
    width: 270px;
}

.interactionable .MuiFormControl-root {
    width: 180px;
}

.admin-user-list {
    overflow-y: scroll;
    height: calc(100% - 50px);
}


@media only screen and (max-width: 900px) {
    .admin-dashboard .scrollableList {
        max-height: calc(100vh - 330px);
    }
}

